<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-recycle" aria-hidden="true"></i> <span>İleri Dönüşüm</span></a>
      </div>

      <div class="clearfix"></div>

      <!-- menu profile quick info -->
      <div class="profile clearfix">
        <div class="profile_pic">
          <img src="images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <span>Welcome</span>
          <h2></h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <h3>Menü</h3>
          <ul class="nav side-menu">
            <li><a a href="/mainpage"><i class="fa fa-home"></i> Ana Sayfa </span></a>
            </li>
            <li><a a href="/mainpage/calisanyonetimi"><i class="fa fa-edit"></i>Çalışan Yönetimi </span></a>
            </li>
            
            <li><a a href="/mainpage/kullaniciyonetimi"><i class="fa fa-suitcase"></i>Kullanici Yonetimi </span></a>
            </li>
            
            <li><a a href="/mainpage/rotayonetimi"><i class="fa fa-map"></i>Rota Yönetimi</span></a>
            </li>
            
            
          </ul>
        </div>
        
      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="fa fa-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="fa fa-arrows-alt" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="fa fa-low-vision" aria-hidden="true"></span>
        </a>
        <a href="/" data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="fa fa-sign-out" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>