<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>İleri Dönüşüm | </title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link href="/fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- NProgress -->
    <link href="/css/nprogress.css" rel="stylesheet" type="text/css">
    <!-- Animate.css -->
    <link href="/css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/css/custom.min.css" rel="stylesheet" type="text/css">

  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="/mainpage" method="POST">
              <h1> Login </h1>
              <div>
              <label for="email">Email</label>
              <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Enter Email"
              />
              </div>
              <div>
                  <label for="password">Parola</label>
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                  />
                
              </div>
              <button type="submit" class="btn btn-primary btn-block">Giriş</button>

              <div class="clearfix"></div>
        
        
              <div class="separator">
                
              </form>
            
          </section>
        </div>

      </div>
    </div>
  </body>
</html>



   